.principal {
    display: flex;
    width: 100%;
}

.menu-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 70%;
}